/* Variables used throughout this stylesheet */
:root {
    --colorOne: rgb(21, 24, 76);
    --colorTwo: rgb(90, 76, 112);
    --colorThree: rgb(229, 227, 237);
    --colorFour: rgb(30,30,30);
}

/* page-wide styles */
* {
    background-color: var(--colorTwo);
    color: var(--colorThree);
}

/* The header containing the h1 and nav elements as flex items */
header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
 }

/* The styles of the h1 element */
h1 {
    width: 60%;

/* The container for the navigation links at the top and bottom of the page */
} 
 
/* The container for the navigation links at the top and bottom of the page */
 nav {
    display: flex;
    flex-direction: row;
    justify-items:center;
    justify-content: space-evenly;
    align-items: center;
    padding: 0%;
    width:40%;
 }
 
 /* The individual navigation links */
 li {
    display: inline-block;
 }

